*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav {
  background-color: #0a60e3;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

nav h3 {
  margin: 0;
}

h1{
  padding-left: 20px;
}

.table_content{
  color: #da0a0a;
  padding: 50px 30px 0px;
  text-align: center;
}



table {
  border-collapse: collapse;
  width: 100%;
  margin: 30px 10px ;
  
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}

#btn {
  /* background-color: #008CBA; */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 5px;

}


.btn-edit {background-color: #4CAF50;} /* Green */
.btn-delete {background-color: #f44336;} /* Red */
.btn-add {
  background-color: #008CBA;
  /* margin-top: 50px; */
  float: right;
  margin: 40px 50px 50px ;

  
} 

form{
  display: block;
  position: relative;
  margin: 60px 50px ;
  border: 2px solid #ddd;
  width: 60%;
}
label{
  margin-right: 50px;
  height: 20px;
  font-size: 20px;
  
}



.input_block{
  margin: 15px 20px;
    
  
}
.btn_UC{
  margin: 30px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #008CBA;
}

.btn_cancel{
  margin: 30px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #da0a0a;
}
